@model NW_Central_Library.Models.LibraryModels.AdultMemberAddress

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdultMemberAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InActiveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddrLn1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult.FirstName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
