@model IEnumerable<NW_Central_Library.Models.LibraryModels.AdultMemberAddress>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InActiveDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddrLn1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adult.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InActiveDate)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
