@model NW_Central_Library.Models.LibraryModels.MediaContent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentItemOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentItemOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Media.Author)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
