@model NW_Central_Library.Models.LibraryModels.MemberPhone

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MemberPhone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JuvenileMember)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JuvenileMember.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone.PhoneNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneType.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
