@model NW_Central_Library.Models.LibraryModels.CheckOut

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckOut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JuvenileId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JuvenileId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckedInDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckedInDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adult.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaCopy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaCopy.MediaFormatId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
