@model NW_Central_Library.Models.LibraryModels.MediaCopy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaCopy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InActiveDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InActiveDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Media.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaFormat.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaGenre.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
