@model NW_Central_Library.Models.LibraryModels.About

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LibraryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LibraryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LibraryDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LibraryDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
